/*GLOBALS*/
body,
header,
main,
footer {
  margin: 0;
  padding: 0;
}

body {
  background: #563e27;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}


/*SITE HEADER*/
.site-header {
  background: ;
  height: 80px;
}


/*SITE MAIN*/
.site-main {
  background: #563e27 url("images/site/shuriken-forrest.png") no-repeat fixed 78%;
  height: 100%;
}


/*SITE FOOTER*/
.site-footer {
  height: 50px;
}


/*DRY*/
.site-header,
.site-footer {
  text-align: center;
}


/*====// UNDER CONSTRUCTION \\====*/
.under-construction {
  background: rgb(214,2,31);
  background: rgba(214,2,31, .8);
  border-bottom: 2px solid #860012;
  border-top: 2px solid #860012;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

.site-main p {
  text-align: center;
}

.site-main img {
  height: auto;
  width: 100%;
}
